In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import random
import re


from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC
from io import StringIO
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_selection import chi2

from sklearn.naive_bayes import MultinomialNB

/Users/adeel/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
#df = pd.read_csv("cyberbullying_tweets.csv")
df = pd.read_csv("FinalPreProcessedComplete.csv")
my_tags = ['religion','age','gender','ethnicity','not_cyberbullying','other_cyberbullying']

In [3]:
df

                                              tweet_text  cyberbullying_type
0                words katandandre food crapilicious mkr                   1
1      aussietv white mkr theblock imacelebrityau tod...                   1
2                       classy whore red velvet cupcakes                   1
3      meh p thanks heads concerned another angry dud...                   1
4      isis account pretending kurdish account like i...                   1
...                                                  ...                 ...
47687  black ppl arent expected anything depended any...                   0
47688  turner withhold disappointment turner called c...                   0
47689  swear god dumb nigger bitch got bleach hair re...                   0
47690  yea fuck youre nigger fucking unfollow fucking...                   0
47691  bro u gotta chill dog fuck kp dumb nigger bitc...                   0

[47692 rows x 2 columns]

In [4]:
col = ['cyberbullying_type', 'tweet_text']
df = df[col]
df = df[pd.notnull(df['tweet_text'])]

In [5]:
df.columns = ['cyberbullying_type', 'tweet_text']

In [6]:
df['category_id'] = df['cyberbullying_type'].factorize()[0]

In [7]:
df.head()

,cyberbullying_type,tweet_text,category_id
0,1,words katandandre food crapilicious mkr,0
1,1,aussietv white mkr theblock imacelebrityau tod...,0
2,1,classy whore red velvet cupcakes,0
3,1,meh p thanks heads concerned another angry dud...,0
4,1,isis account pretending kurdish account like i...,0

In [8]:
df.head()

,cyberbullying_type,tweet_text,category_id
0,1,words katandandre food crapilicious mkr,0
1,1,aussietv white mkr theblock imacelebrityau tod...,0
2,1,classy whore red velvet cupcakes,0
3,1,meh p thanks heads concerned another angry dud...,0
4,1,isis account pretending kurdish account like i...,0

In [9]:
category_id_df = df[['cyberbullying_type', 'category_id']].drop_duplicates().sort_values('category_id')
category_to_id = dict(category_id_df.values)
id_to_category = dict(category_id_df[['category_id', 'cyberbullying_type']].values)
df.head()

,cyberbullying_type,tweet_text,category_id
0,1,words katandandre food crapilicious mkr,0
1,1,aussietv white mkr theblock imacelebrityau tod...,0
2,1,classy whore red velvet cupcakes,0
3,1,meh p thanks heads concerned another angry dud...,0
4,1,isis account pretending kurdish account like i...,0

In [10]:
tfidf = TfidfVectorizer(sublinear_tf=True, min_df=5, norm='l2', encoding='latin-1', ngram_range=(1, 2), stop_words='english')
features = tfidf.fit_transform(df.tweet_text).toarray()
labels = df.category_id
features.shape

(47305, 17477)

In [11]:
N = 2
for cyberbullying_type, category_id in sorted(category_to_id.items()):
    features_chi2 = chi2(features, labels == category_id)
    indices = np.argsort(features_chi2[0])
    feature_names = np.array(tfidf.get_feature_names())[indices]
    unigrams = [v for v in feature_names if len(v.split(' ')) == 1]
    bigrams = [v for v in feature_names if len(v.split(' ')) == 2]
    print("# '{}':".format(cyberbullying_type))
    print("  . Most correlated unigrams:\n. {}".format('\n. '.join(unigrams[-N:])))
    print("  . Most correlated bigrams:\n. {}".format('\n. '.join(bigrams[-N:])))

/Users/adeel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

# '0':
  . Most correlated unigrams:
. bullying
. mkr
  . Most correlated bigrams:
. high school
. kat andre
# '1':
  . Most correlated unigrams:
. bullying
. mkr
  . Most correlated bigrams:
. high school
. kat andre

/Users/adeel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [12]:
xTrain, xTest, yTrain, yTest = train_test_split(df['tweet_text'], df['cyberbullying_type'], test_size = 0.2, random_state = 42)
count_vect = CountVectorizer()
xTrain_counts = count_vect.fit_transform(xTrain)
tfidf_transformer = TfidfTransformer()
xTrain_tfidf = tfidf_transformer.fit_transform(xTrain_counts)
clf = MultinomialNB().fit(xTrain_tfidf, yTrain)

In [14]:
y_pred = svm.predict(xTest)

NameError: name 'svm' is not defined